<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>Storm Web Client</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="css/term-theme-dark.css" id="theme">

    <script src="js/FileSaver.js"></script>
    <script src="generated/engine-fastopt.js"></script>
</head>
<body class="variable">

<div id="container" class="container-fluid" style="display: none">
    <div class="row">
        <div class="col-8">
            <div class="row">

                <div id="input-line" class="input-line col-md-12">
                    <div class="row">
                        <div class="username variable pull-left">{{ user }}</div>
                        <input id="inputLine" v-model="currentInputValue"
                               @keyup.enter="pressEnter"
                               @keyup.37="pressArrow"
                               @keyup.38="pressArrow"
                               @keyup.39="pressArrow"
                               @keyup.40="pressArrow"
                               @keydown.tab="pressTab"
                               class="cmdline variable pull-left col" autofocus/>
                    </div>
                    <img id="loader-img"
                         v-bind:style="{ display: processing ? 'block' : 'none' }"
                         style="width: 150px; height: 120px; margin-left: 100px" src="images/waiting.gif"/>
                </div>

                <div v-for="(prop, index) in proposalsDisplayed" v-bind:class="{ 'bg-prop-current' : index === proposalsIndex.orElse(0) }" class="col-md-3 proposal">
                    <span style="cursor: pointer" v-on:click="onClickProposition(index)" v-on:mouseover="onMouseOverProposition(index)">{{ prop }}</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <command
                                v-for="(command, index) in commands.slice(commands.length -1)"
                                v-bind:command="command"
                                v-bind:key="index"
                                v-bind:user="user">
                        </command>
                    </div>
                </div>
            </div>
        </div>
        <div id="colEncounter" class="col-4" style="overflow-y: auto; height: calc(100% - 10px); position: fixed; right: 0">
            <div class="col-md-auto" style="font-size: 11px; float: right">
                <span style="padding-right: 5px">Type help then press enter to show the help text!</span>
                <span style="padding-right: 5px">Switch theme :</span>
                <a onclick="changeCSS('css/term-theme-light.css')" href="#">light</a>
                <span style="padding: 0 10px">|</span>
                <a onclick="changeCSS('css/term-theme-dark.css')" href="#">dark</a>
            </div>
            <static-encounter v-bind:encounter="encounter">
            </static-encounter>
        </div>
    </div>
</div>

<input hidden id="file" type="file" accept=".encounter,.zip"/>

<script src="generated/build.js"></script>
<script>
    function changeCSS(cssFile) {
        let oldStyle = document.getElementById("theme");
        let newStyle = document.createElement("link");
        newStyle.setAttribute("rel", "stylesheet");
        newStyle.setAttribute("type", "text/css");
        newStyle.setAttribute("href", cssFile);
        newStyle.setAttribute("id", "theme");
        document.getElementsByTagName("head").item(0).replaceChild(newStyle, oldStyle);
    }
</script>

</body>
</html>
