<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>Storm Web Client</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="css/block.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/term-theme-dark.css" id="theme">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="https://cdn.florentpastor.com/storm/engine-fastopt.js"></script>
</head>
<body>

<div id="container" class="container-fluid" style="display: none">
    <div class="row">
        <div class="col-8">
            <div class="row">

                <div id="input-line" class="input-line col-md-12">
                    <div class="row">
                        <div class="username pull-left">{{ user }}</div>
                        <input id="inputLine" v-model="currentInputValue"
                               @keyup.enter="pressEnter"
                               @keyup.37="pressArrow"
                               @keyup.38="pressArrow"
                               @keyup.39="pressArrow"
                               @keyup.40="pressArrow"
                               @keydown.tab="pressTab"
                               class="cmdline pull-left col" autofocus/>
                    </div>
                    <img id="loader-img" style="display:none; width: 150px; height: 120px; margin-left: 100px" src="images/waiting.gif"/>
                </div>

                <div v-for="(prop, index) in proposalsDisplayed" v-bind:class="{ 'bg-prop-current' : index === proposalsIndex.orElse(0) }" class="col-md-3 proposal">
                    <span style="cursor: pointer" v-on:click="onClickProposition(index)" v-on:mouseover="onMouseOverProposition(index)">{{ prop }}</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <command-component
                                v-for="(command, index) in commands.slice(commands.length -1)"
                                v-bind:command="command"
                                v-bind:key="index"
                                v-bind:user="user">
                        </command-component>
                    </div>
                </div>
            </div>
        </div>
        <div id="colEncounter" class="col-4" style="overflow-y: auto; height: calc(100% - 10px); position: fixed; right: 0">
            <div class="col-md-auto" style="font-size: 11px; float: right">
                <span style="padding-right: 5px">Type help then press enter to show the help text!</span>
                <span style="padding-right: 5px">Switch theme :</span>
                <a onclick="changeCSS('css/term-theme-light.css')" href="#">light</a>
                <span style="padding: 0 10px">|</span>
                <a onclick="changeCSS('css/term-theme-dark.css')" href="#">dark</a>
            </div>
            <static-encounter-component v-bind:encounter="encounter">
            </static-encounter-component>
        </div>
    </div>
</div>

<input hidden id="file" type="file" accept=".encounter,.zip"/>

<script src="generated/build.js"></script>
<script>
    function changeCSS(cssFile) {
        let oldStyle = document.getElementById("theme");
        let newStyle = document.createElement("link");
        newStyle.setAttribute("rel", "stylesheet");
        newStyle.setAttribute("type", "text/css");
        newStyle.setAttribute("href", cssFile);
        newStyle.setAttribute("id", "theme");
        document.getElementsByTagName("head").item(0).replaceChild(newStyle, oldStyle);
    }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125938137-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125938137-1');
</script>

</body>
</html>
