<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>Storm Web Client</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/block.css">

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <link rel="icon" type="image/png" href="images/favicon.png" />
    <script src="js/FileSaver.js"></script>

</head>
<body>

<div id="container">
    <div class="split left" id="commandsContainer">
    <command-component
            v-for="command in commands"
            v-bind:command="command"
            v-bind:user="user">
    </command-component>

    <div id="input-line" class="input-line">
        <div class="prompt">{{ user }}</div>
        <div>
            <input id="inputLine" v-model="currentInputValue"
                   @keyup.enter="executeCommand"
                   @keyup.38="setPositionHistory"
                   @keyup.40="setPositionHistory"
                   @keydown.tab="invokeAutoComplete"
                   class="cmdline" autofocus/>
            <img id="loader-img" style="display: none; width: 150px; height: 120px; position: absolute; left: 20px" src="images/waiting.gif"/>
        </div>

    </div>
    <ul>
        <li  v-for="(prop, index) in proposalsDisplayed" v-bind:class="{ 'bg-prop-current' : index === proposalsIndex }">
            <span style="cursor: pointer" v-on:click="onClickProposition(index)" v-on:mouseover="onMouseOverProposition(index)">{{ prop }}</span>
        </li>
    </ul>
        </div>

    <div class="split right" align="center">
        <static-encounter-component v-bind:encounter="encounter"></static-encounter-component>
    </div>
</div>

<input hidden id="file" type="file" accept=".encounter"/>


<script src="dist/build.js"></script>
</body>
</html>
