body {
    font-size: 16pt;
    font-family: Inconsolata, monospace;
}
.username {
    padding-right: 15px;
    padding-left: 15px;
}
.cmdline {
    border: 0;
    padding: 0;
}
.bg-prop-current {
    opacity: 1 !important;
}
.proposal {
    opacity: 0.5;
}
