:root {
    /*--background-color: #EEEEEE;*/
    /*--font-color: black;*/
    /*--prompt-color: black;*/

    --background-color: black;
    --font-color: white;
    --prompt-color: #96b38a;
}

.split {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 100%;
}

.right {
    right: 0;
    background-color: var(--background-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
    left: 10%;
    position: relative;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: 70%;
}

li {
    display: block;
    color: var(--font-color);
    text-align: left;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
    opacity: .5;
}

#loader {
    position: center;
    left: 10%;
    top: 50%;
    z-index: 1;
    margin: -30px 0 0 -75px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

::selection {
    background: #FF5E99;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--font-color);
}
body {
    font-size: 16pt;
    font-family: Inconsolata, monospace;
    background-color: var(--background-color);
}
#container {
    padding: .1em 1.5em 1em 1em;
}
#container output {
    clear: both;
    width: 100%;
}
#container output h3 {
    margin: 0;
}
#container output pre {
    margin: 0;
}

.bg-prop-current {
    opacity: 1;
}
.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}
.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.prompt {
    white-space: nowrap;
    color: var(--prompt-color);
    margin-right: 7px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: var(--font-color);
}
.ls-files {
    height: 45px;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    -o-column-width: 100px;
    column-width: 100px;
}
