body.variable {
    background-color: black;
    color: white;
}

.username.variable {
    color: #96b38a;
}

.cmdline.variable {
    background-color: black;
    color: white;
}

.cmdline.variable ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}

.cmdline.variable ::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}

.cmdline.variable ::-moz-placeholder {
    color: white;
    opacity: 0.5;
}

/* firefox 19+ */
.cmdline.variable :-ms-input-placeholder {
    color: white;
    opacity: 0.5;
}

/* ie */
.cmdline.variable input:-moz-placeholder {
    color: white;
    opacity: 0.5;
}
